/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'axiformaregular', sans-serif;
  color: #fff;
  background-color: #da6042;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* --------------------------------

Main components

-------------------------------- */
.cd-section {
  height: 750px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
  left: 0;
}

.right {
  width: 50%;
  right: 0;
}

.quarter {
  width: 25%;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}

.white {
  background-color: white;
}

.orange {
  background-color: #da6042;
}

.grey {
  background-color: #d3d3d3;
}

.black {
  background-color: #343740;
}

.cd-section h1 {
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
}

.cd-section p {
  line-height: 1.6;
}

#header {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header img {
  margin: 10rem 0;
  width: 15rem;
}

#header p {
  font-weight: normal;
  text-align: center;
  font-size: 0.7rem;
  color: #da6042;
  line-height: 1.4;
  margin-bottom: 1rem;
}

#section1 h5 {
  margin: 5rem 2rem 1rem 2rem;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
}

#section1 p,
#section2 p {
  margin: 2rem 2rem 1rem 2rem;
}

#section1 span {
  font-style: italic;
}

#section1 h1,
#section2 h1 {
  margin: 8rem 8rem 1rem 2rem;
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 500;
}

#section2 h2,
#section3 h2 {
  margin: 2rem 8rem 1rem 2rem;
  font-size: 2.2rem;
  font-weight: 500;
}

#section2 img,
#section3 img {
  width: 55%;
  margin: 20% 25%;
}

#section3 ul {
  list-style: circle;
}

#section3 h2 {
  margin: 6rem 8rem 2rem 2rem;
  font-size: 2.2rem;
  font-weight: 500;
}

#section3 p {
  line-height: 1.4;
  margin: 1rem 8rem 1rem 2rem;
}

#section4 {
  flex-direction: column;
}

#section4 .top {
  height: 50vh;
}

#section4 .top .left {
  width: 50%;
  left: 0;
  position: absolute;
}

#section4 .top .right {
  width: 50%;
  right: 0;
  position: absolute;
}

#section4 img {
  width: 31%;
  margin-top: 6rem;
}

#section4 .bottom {
  display: flex;
  height: 50vh;
  flex-direction: row;
}

#section4 h1,
#section5 h1 {
  margin: 4rem 8rem 1rem 2rem;
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

#section5 .grey h1,
#section5 .grey p{
  color: #343740;
  background-color: rgba(2, 2, 2, 0);
}

#section4 p,
#section5 p {
  margin: 0 6rem 1rem 2rem;
  color: white;
  font-size: 0.9rem;
}

#section4 .bottom p {
  margin: 0 3rem 1rem 2rem;
  font-size: 0.7rem;
}

#section4 .white h1,
#section4 .white p {
  color: #343740;
}

#section5 .s5titel h1 {
  margin: 4rem 2rem 1rem auto;
  width: 220px;
  font-size: 2.5rem;
  text-align: right;
  line-height: 3rem;
}

#section5 .s5titel span {
  font-family: 'axiformathin';
}

#section5 .grey span {
  font-style: italic;
}

#section5 .grey .thin {
  font-family: 'axiformathin';
}

#section5 .grey .light {
  font-family: 'axiformalight';
}

#section5 .grey .medium {
  font-family: 'axiformaregular';
}

#section5 .grey .bold {
  font-family: 'axiformabold';
}

#section5 .grey .black {
  font-family: 'axiformablack';
}

#section6 {
  background-color: white;
  color: #343740;
}

#section6 .third {
  margin: auto auto 4rem 4rem;
}

#section6 h1 {
  margin: 4rem 8rem 1rem 0;
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 500;
  color: #343740;
}

#section6 p {
  margin: 0 2rem 1rem 0;
  color: #343740;
  font-size: 0.9rem;
}

#section6 img {
  height: 75%;
  margin: auto 20% 0 auto;
}

#section6 .full img {
  width: 90%;
}

#section6 .full .third {
  margin: auto 2rem;
}

#section6 .full {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #343740;
}

#section6 .full .black {
  display: flex;
  flex-direction: row;
}

button {
  margin: 0 6rem 1rem 0;
  background-color: #d96142;
  border-radius: 0.8rem;
  padding: 0.5rem 1.5rem;
}

button a {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#footer p {
  margin: 8rem 4rem 0;
  font-size: 7rem;
  font-weight: 700;
  color: white;
}

#footer span {
  color: #343740;
}

#footer img {
  width: 8rem;
}

/* --------------------------------

NAVIGATION

-------------------------------- */

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}

.no-touch #cd-vertical-nav a.is-selected .cd-label {
  opacity: 1;
  font-size: 1.2rem;
}

.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #e7e7e7;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #343740;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #e7e7e7;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .cd-section h1 {
    font-size: 30px;
    font-size: 1.3rem;
  }

  .cd-section p {
    font-size: 20px;
    font-size: 0.9rem;
  }
}
